<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Flipkart">
	<parameter name="url" value="Stagingurl"></parameter>
	<parameter name="browsername" value="chrome"></parameter>
  <test  name="OpenUrl" enabled="true">
    <classes>
      <class name="Flipkart_Test.Verify_Title_Page"/>
    </classes>
  </test>
  <test  name="Buy_Laptop_Test" enabled="true">
    <classes>
      <class name="Flipkart_Test.Buy_Laptop_Test"/>
    </classes>
  </test>
   
</suite> <!-- Suite -->
